.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.Blog li {
    display: inline-block;
    margin: 10px;
}

.newcomponent{
    text-align: center;
    margin: 20px;
    font-size: 22px;
    font-weight: bold;

}