*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    height: 100vh;
    font-family: "Comic Sans MS";
    font-weight: 600;
    font-size: 16px;

}

a{
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*
    padding: 15px 30px;
    */
    background-color: rgb(26, 229, 243);

}
.logo{
    cursor: pointer;
}

.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a{
    transition: .3s;
    color: #000;
}

.nav-area li a:hover{
    color: white;
}
.white{
    color: white!important;}
.btn-area{
    cursor: pointer;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 5px;
    background: black   ;
}

.right{
    float: right;
}
.left{
    float: left;
}


.loginbutton li a{
    transition: .3s;
    color: white;
}
footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    height: auto;
    padding: 15px 30px;
   /* padding: 0px 0px;*/
    border-top: 1px solid #fff;
    width: 100%;
    background: rgb(26, 229, 243);
}



.Logstyle{
    display: flex !important;
    align-items: center;
}